In [41]:
import requests
response = requests.get('https://archive-api.open-meteo.com/v1/era5?latitude=31.39&longitude=74.29&start_date=2021-01-01&end_date=2021-12-31&hourly=temperature_2m,dewpoint_2m')
data=response.json()

In [42]:
df=pd.DataFrame(data['hourly']['temperature_2m'],columns=['temperature'])
df['dewpoint']=data['hourly']['dewpoint_2m']

In [43]:
df.drop([i for i in range(624,649)])

      temperature  dewpoint
0             5.6       4.3
1             5.4       4.5
2             4.4       4.4
3             5.3       4.8
4             5.7       4.6
...           ...       ...
8755         10.1       7.4
8756          9.6       7.1
8757          9.9       7.1
8758          8.4       6.4
8759          8.3       6.6

[8735 rows x 2 columns]

In [ ]:
# function returns dataframe with temperature and dewpoint for longitude and latitude
def get_meteo(longitude,latitude):
    response = requests.get('https://archive-api.open-meteo.com/v1/era5?latitude='+str(latitude)+'&longitude='+str(longitude)+'&start_date=2021-01-01&end_date=2021-12-31&hourly=temperature_2m,dewpoint_2m')
    data=response.json()
    df=pd.DataFrame(data['hourly']['temperature_2m'],columns=['temperature'])
    df['dewpoint']=data['hourly']['dewpoint_2m']
    df.drop([i for i in range(624,649)])
    return df